form {
  margin: auto;
  margin-top: 10rem;
  margin-bottom: 5rem;
}

.hidden {
  display: none;
}

.button-onboarding {
  margin-top: 2rem;
}

.onboarding-question {
  margin: auto;
  max-width: 500px;
  text-align: center;

  & select {
    margin-top: 1.5rem;
  }
}

#message-9,
#message-10 {
  margin-top: 2rem;
}

.header-area.header-sticky .logo {
  margin-top: 0 !important;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  color: #8261ee;
  font-weight: bold;

  & img {
    margin-right: 0.5rem;
  }
}
.nav {
  margin-top: 0 !important;
}
.main-nav {
  display: flex;
  align-items: center;
}

@media (max-width: 991px) {
  .main-nav {
    display: block;
  }

  .logo {
    padding-top: 1rem;
  }
}
