form {
  margin: auto;
  margin-top: 10rem;
  margin-bottom: 5rem;
}

.hidden {
  display: none;
}

.button-onboarding {
  margin-top: 2rem;
}

.onboarding-question {
  margin: auto;
  max-width: 500px;
  text-align: center;

  & select {
    margin-top: 1.5rem;
  }
}

#message-9,
#message-10 {
  margin-top: 2rem;
}

.header-area.header-sticky .logo {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  color: #8261ee;
  font-weight: bold;

  & img {
    margin-right: 0.5rem;
  }
}


@media (max-width: 991px) {
  .header-area.header-sticky .logo {
    justify-content: center; /* Change to center */
    align-items: center;
    align-content: center;
    display: flex;
    //margin-bottom: 1.2rem;


  }

  .header-area.header-sticky .logo img {
    margin-right: 0 !important; /* Remove margin */
    //margin-bottom: 0.5rem; /* Add margin-bottom instead */
    
    margin-bottom: 1.2rem;
    margin-top: 0 !important;
    
  }
}