main {
  margin: auto;
  margin-top: 10rem;
  margin-bottom: 5rem;
}

.hidden {
  display: none;
}

.onboarding-question {
  text-align: center;
}

.button-onboarding {
  margin-top: 2rem;
}

.onboarding-question {
  margin: auto;
  max-width: 500px;

  & select {
    margin-top: 1.5rem;
  }
}
